body {
    font-family: Arial, sans-serif;
    margin-top: 60px; /* Abstand von der fixierten Navbar */
}

/* Hinzufügen von Padding für bessere Lesbarkeit */
.container {
    padding-top: 20px;
}

/* Anpassungen für die Navbar */
.navbar {
    border-bottom: 1px solid #333; /* Fügt eine dezente Trennlinie hinzu */
}
